@import url("https://fonts.cdnfonts.com/css/general-sans");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* ---------------- GLOBAL ---------------- */

body {
  width: 100dvw;
  overflow-x: hidden;
  background-color: #dfdff0;
  font-family: "General Sans", sans-serif;
}

/* ---------------- FONTS ---------------- */

@layer base {
  @font-face {
    font-family: "circular-web";
    src: url("/fonts/circularweb-book.woff2") format("woff2");
  }

  @font-face {
    font-family: "general";
    src: url("/fonts/general.woff2") format("woff2");
  }

  @font-face {
    font-family: "robert-medium";
    src: url("/fonts/robert-medium.woff2") format("woff2");
  }

  @font-face {
    font-family: "robert-regular";
    src: url("/fonts/robert-regular.woff2") format("woff2");
  }

  @font-face {
    font-family: "zentry";
    src: url("/fonts/zentry-regular.woff2") format("woff2");
  }
}

/* ---------------- UTILITIES ---------------- */

@layer utilities {

  /* Border with opacity */
  .border-hsla {
    @apply border;
    border-color: rgb(255 255 255 / 0.2);
  }

  /* Navigation button */
  .nav-hover-btn {
    @apply relative cursor-pointer;
    font-family: "general", sans-serif;
    font-size: 0.75rem;
    line-height: 1rem;
    text-transform: uppercase;
    color: rgb(239 246 255);
    margin-inline-start: 2.5rem;
  }

  .nav-hover-btn::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.125rem;
    width: 100%;
    height: 2px;
    background-color: #262626;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 300ms cubic-bezier(0.65, 0.05, 0.36, 1);
  }

  .nav-hover-btn:hover::after {
    transform-origin: bottom left;
    transform: scaleX(1);
  }

  .floating-nav {
    @apply border;
    background-color: #000;
    border-radius: 0.5rem;
  }

  .absolute-center {
    @apply absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .flex-center {
    @apply flex;
    align-items: center;
    justify-content: center;
  }

  .mask-clip-path {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .special-font b {
    font-family: "zentry";
    font-feature-settings: "ss01" on;
  }

  .hero-heading {
    font-family: "zentry", sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 3rem;
  }

  @media (min-width: 640px) {
    .hero-heading {
      font-size: 4.5rem;
    }
  }

  @media (min-width: 768px) {
    .hero-heading {
      font-size: 6rem;
    }
  }

  @media (min-width: 1024px) {
    .hero-heading {
      font-size: 12rem;
    }
  }

  .about-subtext {
    position: absolute;
    width: 100%;
    max-width: 24rem;
    text-align: center;
    font-size: 1.125rem;
    font-family: "circular-web", sans-serif;
    bottom: -80dvh;
    left: 50%;
    transform: translateX(-50%);
  }

  .about-image {
    position: absolute;
    z-index: 20;
    height: 60vh;
    width: 24rem;
    overflow: hidden;
    border-radius: 1.5rem;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
  }

  .animated-title {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    font-family: "zentry", sans-serif;
    text-transform: uppercase;
    line-height: 0.8;
    font-size: 4.5rem;
    color: #fff;
  }

  .animated-word {
    font-family: "zentry", sans-serif;
    font-weight: 900;
    opacity: 0;
    transform: translate3d(10px, 51px, -60px) rotateY(60deg) rotateX(-40deg);
    transform-origin: 50% 50% -150px;
    will-change: opacity, transform;
  }

  .bento-tilt_1 {
    @apply relative overflow-hidden transition-transform;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    border-radius: 0.375rem;
  }

  .bento-tilt_2 {
    @apply relative overflow-hidden transition-transform;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    border-radius: 0.375rem;
  }


  .bento-title {
    font-family: "zentry", sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 2.25rem;
  }

  @media (min-width: 768px) {
    .bento-title {
      font-size: 3.75rem;
    }
  }

  .story-img-container {
    position: relative;
    width: 100%;
    height: 90vh;
    filter: url("#flt_tag");
  }

  .story-img-mask {
    position: absolute;
    inset: 0;
    overflow: hidden;
    clip-path: polygon(4% 0, 83% 21%, 100% 73%, 0% 100%);
  }

  .story-img-content {
    position: absolute;
    width: 100%;
    height: 50dvh;
    left: 2.5rem;
    top: 4rem;
  }

  .gallery-img-container {
    width: 16rem;
    height: 16rem;
    overflow: hidden;
    background-color: rgb(196 181 253);
  }

  .gallery-img {
    width: 100%;
    height: 100%;
    background-size: cover;
  }

  .gallery-img-4 {
    border-radius: 0.5rem;
  }

  .sword-man-clip-path {
    clip-path: polygon(16% 0, 89% 15%, 75% 100%, 0 97%);
  }

  .contact-clip-path-1 {
    clip-path: polygon(25% 0%, 74% 0, 69% 64%, 34% 73%);
  }

  .contact-clip-path-2 {
    clip-path: polygon(29% 15%, 85% 30%, 50% 100%, 10% 64%);
  }
}

/* ---------------- INDICATOR ---------------- */

.indicator-line {
  width: 1px;
  height: 4px;
  border-radius: 9999px;
  background-color: #fff;
  transition: all 200ms ease-in-out;
}

.indicator-line.active {
  animation: indicator-line 0.5s ease infinite;
  animation-delay: calc(var(--animation-order) * 0.1s);
}

@keyframes indicator-line {
  0% {
    height: 4px;
  }

  50% {
    height: 16px;
    transform: translateY(-4px);
  }

  100% {
    height: 4px;
  }
}

/* ---------------- LOADER ---------------- */

.three-body {
  --uib-size: 35px;
  --uib-speed: 0.8s;
  --uib-color: #5d3fd3;
  position: relative;
  display: inline-block;
  width: var(--uib-size);
  height: var(--uib-size);
  animation: spin78236 calc(var(--uib-speed) * 2.5) infinite linear;
}

@keyframes spin78236 {
  to {
    transform: rotate(360deg);
  }
}